@{
    Layout = null;
}

@section css{
    <style>
        .myscript {
            background-color: darkcyan;
            padding: 0px;
            margin: 0px;
            height: 100%;
            width: 100%;
        }
    </style>
}

<div class="myscript">
    <h1>Scritp de Prueba</h1>

    <h3>ANI: @ViewBag.callingDeviceId</h3>

    <h3>DNIS: @ViewBag.calledDeviceId</h3>
    <hr>
    <h2>Examples of parameters</h2>
    <h3>ucid: @ViewBag.ucid</h3>

    <h3>callId: @ViewBag.callId</h3>

    <h3>deviceId: @ViewBag.deviceId</h3>

    <h3>alertingDeviceId: @ViewBag.alertingDeviceId</h3>

    <h3>trunkGroupId: @ViewBag.trunkGroupId</h3>

    <h3>splitDeviceId: @ViewBag.splitDeviceId</h3>

    <h3>lastRedirectionDeviceId: @ViewBag.lastRedirectionDeviceId</h3>

    <h3>callerId: @ViewBag.callerId</h3>

    <h3>appName: @ViewBag.appName</h3>

</div>