<div class="panel panel-default">
    <div class="panel-body">
        <div class="widget-main">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-bars"></i><br />
                    </span>

                    <input id="inputPhone" class="form-control" type="number" placeholder='@Resources.Agent.InsertPhone' />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding: 0px">
                    <button id="doCallBtn" class="btn btn-success btn-lg btn-block btn-redondo" disabled="disabled" style="background: linear-gradient(to right, #3a8632 0%, #17e60d 100%); font-weight: bold">
                        @Resources.Agent.Call
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body" id="options">
        @if (!this.User.IsInRole("supervisor"))
        {
            <div class="row">
                <div class="col-md-6 info" title="@Resources.Agent.Ready">
                    <button class="btn btn-info btn-redondo" id="ReadyToWork" disabled="disabled">
                        <i class="fa fa-check icono-grande"></i><br />
                    </button>
                </div>

                <div class="col-md-6 info" title="@Resources.Agent.Pause">
                    <button class="btn btn-info btn-redondo" id="doPause" disabled="disabled">
                        <i class="fa fa-pause icono-grande"></i><br />
                    </button>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-12 info" title="@Resources.Agent.Answer">
                <button id="acceptCallRequest" class="btn btn-success btn-redondo" disabled="disabled" style="background: linear-gradient(to right, #3a8632 0%, #17e60d 100%);">
                    <i class="fa icon-phone-call icono-grande"></i><br />
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 info" title="@Resources.Agent.Hold">
                <button class="btn btn-info btn-redondo" id="doHoldConnection" disabled="disabled">
                    <i class="fa icon-phone_paused icono-grande"></i><br />
                </button>
            </div>

            <div class="col-md-4 info" title="@Resources.Agent.Retrieve">
                <button class="btn btn-info btn-redondo" id="doRetrieve" disabled="disabled">
                    <i class="fa fa-undo icono-grande"></i><br />
                </button>
            </div>

            <div class="col-md-4 info" title="@Resources.Agent.Transfer">
                <button class="btn btn-info btn-redondo" id="doTransfer" disabled="disabled">
                    <i class="fa icon-phone_missed icono-grande"></i><br />
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 info" title="@Resources.Agent.Confer">
                <button class="btn btn-info btn-redondo info" id="doConference" disabled="disabled">
                    <i class="fa fa-users icono-grande"></i><br />
                </button>
            </div>

            <div class="col-md-6 info" title="@Resources.Agent.EndConf">
                <button class="btn btn-info btn-redondo" id="doEndConference" disabled="disabled">
                    <i class="glyphicon glyphicon-phone-alt icono-grande"></i><br />
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 info" title="@Resources.Agent.HangUp">
                <button class="btn btn-danger btn-redondo" id="hangoutCallRequest" disabled="disabled" style="background: linear-gradient(to right, #863a32 0%, #ff0f03 100%);">
                    <i class="fa icon-phone-off icono-grande"></i><br />
                </button>
            </div>
        </div>
    </div>
</div>