
@{
    ViewBag.Title = "Index";
}
@section css{
    <link href="~/assets/Icons/style.css" rel="stylesheet" />
}

@section breadcrumb {
    <li class="active">@Resources.Login.Home</li>
}
<div class="row">

    <!--LOGIN EXTENSION-->
    <div class="col-md-12" id="loginExtension">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group">
                    <a class="btn btn-success" id="login-button" href="#modal-init-phone" data-toggle="modal">
                        <i class="fa fa-check"></i>
                        @Resources.Supervisor.LoginPhone
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--END LOGIN EXTENSION-->

    <div class="row">
        <!--PHONE AREA-->
        <div id="showPhone" class="col-md-4">
        </div>
        <!--END PHONE AREA-->
        <!--TABS-->
        <div class="col-md-12" id="right-side">

            <form class="form-horizontal">

                <div class="panel panel-default tabs">
                    <!--MENU TABS-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">@Resources.Supervisor.QueuedCalls</a></li>
                        <li><a href="#tab-second" role="tab" data-toggle="tab">@Resources.Supervisor.CallsOnHold</a></li>
                        <li><a href="#tab-third" role="tab" data-toggle="tab">@Resources.Supervisor.ConnectedAgents</a></li>
                    </ul>
                    <div class="panel-body tab-content">
                        <div class="tab-pane active" id="tab-first">
                            @Html.Partial("_PartialListWaitCall")
                        </div>
                        <div class="tab-pane" id="tab-second">
                            @Html.Partial("_PartialHoldCall")
                        </div>
                        <div class="tab-pane" id="tab-third">
                            @Html.Partial("_PartialAgentsConnected")
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!--END TABS-->
    </div>
</div>
@Html.Partial("_PartialModalPhone")
@Html.Partial("_PartialActionOverAgent");
@section scripts{
    <script type="text/javascript">
        $('#lista_espera').on("ifChanged", "input", function (event) {
            changeState('retrieve', true);
            changeState('transfer', true);
            changeState('conference', true);
        });
    </script>

    <script src="~/assets/js/plugins/icheck/icheck.min.js"></script>
}
