@using GestCTI.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Log In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="~/assets/css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <!-- START SPINNER -->
    @Html.Partial("Spinner")
    <!-- END SPINNER -->
    @*<h1>@Html.ValidationSummary(true)</h1>*@
    <div class="login-container">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title"><strong>@Resources.Login.Welcome</strong>@Resources.Login.PlesaseLogin</div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal validar", role = "form", id = "LogInForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Resources.Admin.Username, id = "LoginUsername", name = "usuario" })
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Resources.Login.Login_Password, id = "LoginPassword" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    -->

                    <div class="form-group" style="display: none" id="phone_extension">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.PhoneExtension, new { @class = "form-control", placeholder = Resources.Login.PhoneExtension, id = "LoginPhoneExtension" })
                            @Html.ValidationMessageFor(m => m.PhoneExtension, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.CheckBoxFor(m => m.PhoneLogin, new { id = "phone_login", @class = "icheckbox" })
                            @Html.LabelFor(m => m.PhoneLogin, Resources.Login.PhoneExtension, new { style = "color: white" })

                            @* @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account", null, new { @class = "btn btn-link btn-block" }) *@
                        </div>
                        <div class="col-md-6">
                            <input type="button" value=@Resources.Login.Login_btn class="btn btn-info btn-block" id="LogInCore" />
                        </div>
                    </div>
                }
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2018 AppName
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>
        @Html.Partial("ResourcesJS")
    </div>

    <script src="~/assets/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/js/plugins/jquery/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.js"></script>
    <!--Notifications System-->
    <script src="~/assets/js/plugins/noty/jquery.noty.js"></script>
    <script src="~/assets/js/plugins/noty/layouts/topRight.js"></script>
    <script src="~/assets/js/plugins/noty/themes/default.js"></script>
    <script src="~/Scripts/ScriptsSistema/notyTypes.js"></script>

    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--CTI SCRIPTS-->
    <script src="~/assets/js/cti/cti-default.js"></script>
    <!--Validation to init core connection-->
    <script src="~/Scripts/ScriptsSistema/LogInCore.js"></script>

    <script type="text/javascript">
        $('#phone_login').on("ifChanged", function () {
            if ($(this).is(':checked'))
                $('#phone_extension').css('display', 'block');
            else
                $('#phone_extension').css('display', 'none');
        });

        $('#phone_extension').val('');
        if ($('#phone_login').is(':checked'))
            $('#phone_login').trigger('click');

        var path_get_roles = '@Url.Action("GetRole", "Account", null, Request.Url.Scheme)';
    </script>

</body>
</html>