@model IEnumerable<GestCTI.Models.CampaignPauseCodes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <li>@Html.ActionLink(@Resources.Login.Home, "Index", "Admin")</li>
    <li class="active">@Resources.Admin.PauseCodeCampaigns</li>
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> @Resources.Admin.PauseCodeCampaigns</h2>
</div>


<div class="panel panel-default tabs">
    <div class="panel-body tab-content">
        <div class="tab-pane active" id="tab-first">
            <h3 style="padding-bottom:15px">
                @Html.ActionLink(Resources.Admin.ActionCreateNew, "Create", null, new { @class = "fa fa-plus" })
            </h3>
            <table class="table Mydatatable" id="tabla-index">
                <thead>
                    <tr>
                        <th>
                            @Resources.Admin.PauseCode
                        </th>
                        <th>
                            @Resources.Admin.Campaign
                        </th>
                        <th>
                            @Resources.Admin.MaxDuration
                        </th>
                        <th>
                            @Resources.Admin.MaxDailyEvents
                        </th>
                        <th>
                            @Resources.Admin.AutoReady
                        </th>
                        <th>
                            @Resources.Admin.Active
                        </th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PauseCodes.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Campaign.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxDailyEvents)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AutoReady)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm fa fa-edit info", title = Resources.Admin.ActionEdit })

                            <a class="btn btn-danger btn-sm info fa fa-trash-o mb-control" data-box="#Modal_@item.Id" title="@Resources.Admin.ActionDelete"></a>

                            @Html.Partial("Notifications", null, new ViewDataDictionary { { "IdItem", item.Id }, { "Icon", "fa fa-trash-o" }, { "Title", Resources.Admin.DeleteRecord }, { "Action", "Delete" }, { "Controller", "CampaignPauseCodes" }, { "Menssage", Resources.Admin.QuestionDeleteM + " " + Resources.Admin.PauseCode + " " + Resources.Admin.With + " " + Resources.Admin.Name + ": " + item.PauseCodes.Name + " " + Resources.Admin.OfF + " " + Resources.Admin.Campaign + ": " + item.Campaign.Code + "?" } })
                        </td></tr>
                }

            </table>
        </div>
    </div>
</div>

@section scripts{

    <script type='text/javascript' src="~/assets/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/assets/js/plugins/datatables/dataTablesLang.js"></script>
}