@model GestCTI.Models.Company

@{
    ViewBag.Title = "Details";
}

@section breadcrumb{
    <li>@Html.ActionLink(@Resources.Login.Home, "Index", "Admin")</li>
    <li>@Html.ActionLink(Resources.Admin.Companies, "Index")</li>
    <li class="active">@Resources.Admin.ActionDetails</li>
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> @Resources.Admin.ActionDetails</h2>
</div><div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SwitchCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SwitchCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Switch.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Switch.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
