@{
    ViewBag.Title = "Home Page";
}

@section css{
    <link href="~/assets/Icons/style.css" rel="stylesheet" />
}

<!-- PAGE TITLE
<div class="page-title">
    <h2><span class="fa fa-columns"></span> Agent Work Page</h2>
</div>
 END PAGE TITLE -->

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="widget-main">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-bars"></i><br />
                            </span>

                            <input id="inputPhone" class="form-control" type="number" placeholder='@Resources.Agent.InsertPhone' />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="padding: 0px">
                            <button id="doCallBtn" class="btn btn-success btn-lg btn-block btn-redondo" disabled="disabled">
                                @Resources.Agent.Call
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body" id="options">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="ReadyToWork" disabled="disabled">
                            <i class="fa fa-check icono-grande"></i><br />
                            @Resources.Agent.Ready
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="doPause" disabled="disabled">
                            <i class="fa fa-pause icono-grande"></i><br />
                            @Resources.Agent.Pause
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button id="acceptCallRequest" class="btn btn-success btn-redondo" disabled="disabled">
                            <i class="fa icon-phone-call icono-grande"></i><br />
                            @Resources.Agent.Answer
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-success btn-redondo" id="doHoldConnection" disabled="disabled">
                            <i class="fa icon-phone_paused icono-grande"></i><br />
                            @Resources.Agent.Hold
                        </button>
                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-success btn-redondo" id="doRetrieve" disabled="disabled">
                            <i class="fa icon-phone_paused icono-grande"></i><br />
                            @Resources.Agent.Retrieve
                        </button>
                    </div>

                    <div class="col-md-4">
                        <a class="btn btn-success btn-redondo" id="doTransfer" disabled="disabled">
                            <i class="fa icon-phone_missed icono-grande"></i><br />
                            @Resources.Agent.Transfer
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="doConference" disabled="disabled">
                            <i class="fa icon-phone3 icono-grande"></i><br />
                            @Resources.Agent.Confer
                        </button>
                    </div>

                    <div class="col-md-6">
                        <button class="btn btn-success btn-redondo" id="doEndConference" disabled="disabled">
                            <i class="fa icon-phone3 icono-grande"></i><br />
                            <span class="line-height-1 smaller-75"> @Resources.Agent.EndConf </span>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-success btn-redondo" id="hangoutCallRequest" disabled="disabled">
                            <i class="fa icon-call_end icono-grande"></i><br />
                            @Resources.Agent.HangUp
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li id="tab1" class="active">
                    <a href="#tab-first" role="tab" data-toggle="tab">Scripts</a>
                </li>
                <li id="tab2"><a href="#tab-second" role="tab" data-toggle="tab">@Resources.Agent.HoldCalls</a></li>
            </ul>

            <div class="panel-body tab-content">
                <div class="tab-pane active" id="tab-first">

                </div>

                <div class="tab-pane" id="tab-second">
                    <div class="panel panel-warning">
                        <div class="panel-body list-group list-group-contacts" id="lista_espera">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='~/assets/js/plugins/jquery-validation/jquery.validate.js'></script>
<script type='text/javascript' src='~/assets/js/plugins/bootstrap/bootstrap-select.js'></script>

@Html.Partial("_Dispositions")
@Html.Partial("_PauseCodes")
@Html.Partial("_Campaigns")

@section scripts{
    <script type="text/javascript">
        $('#inputPhone').keyup(function () {
            if ($(this).val())
                $("#doCallBtn").removeAttr("disabled");
            else
                $("#doCallBtn").attr("disabled", "disabled");
        });

        $('#lista_espera').on("ifChanged", "input", function (event) {
            changeState('retrieve', true);
            changeState('transfer', true);
            changeState('conference', true);
        });
    </script>

    <script src="~/assets/js/plugins/icheck/icheck.min.js"></script>

    <script type="text/javascript">
        function pintarScript(url, data = null) {
            if (url[0] == '/') {
                url = '@Url.Action("Display", "Scripts")' + url;
                data = JSON.stringify(data);
            }

            $('#tab-first *').remove();
            if (notEmpty(url)) {
                $.ajax({
                    url: url,
                    data: { 'data': data },
                    success: function (html) {
                        $('#tab-first').html(html);
                    },
                    error: function (error) {
                        errorNoty(error.responseText);
                    }
                });
            }
        }
    </script>
}