@model IEnumerable<GestCTI.Models.DispositionCampaigns>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumb{
    <li>@Html.ActionLink(@Resources.Login.Home, "Index", "Admin")</li>
    <li>@Html.ActionLink(@Resources.Admin.Campaigns, "Index", "Campaigns")</li>
    <li class="active">@Resources.Admin.DispositionCampaigns</li>
}

<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> @Resources.Admin.DispositionCampaigns</h2>
</div>

<div class="panel panel-default tabs">
    <div class="panel-body tab-content">
        <div class="tab-pane active" id="tab-first">
            <h3 style="padding-bottom:15px">
                @Html.ActionLink(Resources.Admin.ActionCreateNew, "Create", null, new { @class = "fa fa-plus" })
            </h3>
            <table class="table Mydatatable" id="tabla-index">
                <thead>
                    <tr>
                        <th>
                            @Resources.Admin.Disposition
                        </th>
                        <th>
                            @Resources.Admin.Campaign
                        </th>
                        <th>
                            @Resources.Admin.Description
                        </th>
                        <th>
                            @Resources.Admin.Active
                        </th>
                        <th>
                            @Resources.Admin.Options
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dispositions.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Campaign.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm fa fa-edit info", title = Resources.Admin.ActionEdit })

                            @if (item.Active)
                            {
                                <a class="btn btn-danger btn-sm info fa fa-trash-o mb-control" data-box="#Modal_@item.Id" title="@Resources.Admin.Deactivate"></a>

                                @Html.Partial("Notifications", null, new ViewDataDictionary { { "IdItem", item.Id }, { "Icon", "fa fa-trash-o" }, { "Title", Resources.Admin.Deactivate + " " + Resources.Admin.DispositionCampaign }, { "Action", "Delete" }, { "Controller", "DispositionCampaigns" }, { "Menssage", Resources.Admin.QuestionDeactivateM + " " + Resources.Admin.Disposition + " " + Resources.Admin.With + " " + Resources.Admin.Name + ": " + item.Dispositions.Name + " " + Resources.Admin.OfF + " " + Resources.Admin.Campaign + ": " + item.Campaign.Code + "?" } })
                            }
                            else
                            {
                                <a class="btn btn-warning btn-sm info glyphicon glyphicon-play mb-control" data-box="#Modal_@item.Id" title="@Resources.Admin.Activate"></a>

                                    @Html.Partial("Notifications", null, new ViewDataDictionary { { "IdItem", item.Id }, { "Icon", "glyphicon glyphicon-play" }, { "Title", Resources.Admin.Activate + " " + Resources.Admin.DispositionCampaign }, { "Action", "Activate" }, { "Controller", "DispositionCampaigns" }, { "Menssage", Resources.Admin.QuestionActivateM + " " + Resources.Admin.Disposition + " " + Resources.Admin.With + " " + Resources.Admin.Name + ": " + item.Dispositions.Name + " " + Resources.Admin.OfF + " " + Resources.Admin.Campaign + ": " + item.Campaign.Code + "?" } })
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@section scripts{

    <script type='text/javascript' src="~/assets/js/plugins/icheck/icheck.min.js"></script>
    <script src="~/assets/js/plugins/datatables/dataTablesLang.js"></script>
}